.rivenBox {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #373737;
  background-color: #242424;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease 0s 1 both normal;

  &[data-loading="true"]::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e80;
    top: 0;
    left: 0;
  }
}

.rivenHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.rivenTitle {
  color: #ddebff;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.rivenInfo {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.rivenTable {
  thead {
    display: block;
    margin-bottom: 0.75rem;

    tr {
      background-color: #343639;
      border-radius: 5rem 5rem 3.75rem 3.75rem;
      animation: fadeIn 1s ease 0s 1 normal both;
    }

    th {
      color: #afb9c8;
    }
  }

  tbody {
    tr:first-child {
      margin-bottom: 0.75rem;
      animation: fadeIn 1s ease 0.2s 1 normal both;
    }
  }

  tr {
    display: flex;
    padding: 1.25rem;
    gap: 1.5rem;
    background-color: #1e1e1e;
    border-radius: 1rem;
    justify-content: space-between;
    animation: fadeIn 1s ease 0.4s 1 normal both;
  }

  th,
  td {
    text-align: center;
    font-size: 1rem;
    color: #ddebff;
  }
}

.rivenPicker {
  padding: 0.25rem 0rem;
  margin-inline: 0.125rem;
  border-radius: 0.125rem;
  width: 12rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  > button {
    pointer-events: none;
    padding: 0.75rem 0rem;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
  }

  ul {
    padding-inline: 1rem;
    width: 100%;
    list-style-type: none;
    background: #292929;
    position: absolute;
    top: 0;
    z-index: 99;
    li {
      button {
        padding: 0.75rem 0rem;
        background: none;
        border: none;
        font-size: inherit;
        font-family: inherit;
        cursor: pointer;
      }
    }
  }

  &::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #555;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    display: block;
    margin-left: 0.5rem;
  }
}

.rivenTableSubtitles {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 0.75rem;
    color: #454545;
    font-weight: 600;
  }
}

.rivenClear {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 0.75rem;
  text-align: end;
  cursor: pointer;
  color: #666;
  font-weight: 600;

  &:hover {
    opacity: 0.8;
  }
}

.searchForm {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 0.5rem 0rem;
  position: relative;
}

.searchBox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  position: relative;
}

.searchInput {
  background-color: #1e1e1e;
  border-radius: 1rem 0rem 0rem 1rem;
  border: none;
  outline: none;

  max-width: 250px;
  min-width: 220px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ddebff;

  &::placeholder {
    color: #ddebff;
    opacity: 0.25;
  }
}

.searchSuggestion {
  position: absolute;
  opacity: 0.5;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.searchButton {
  background-color: #1e1e1e;
  border: none;
  outline: none;
  border-radius: 0rem 1rem 1rem 0rem;

  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    scale: 0.95;
  }
}

.searchSubtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  align-self: self-end;
  margin-top: 1rem;

  .searchLink {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-decoration: none;
    color: #6b6b6b;
    gap: 0.25rem;
  }

  .searchError {
    font-size: 0.75rem;
    font-weight: 600;

    &[data-level="0"] {
      color: #f1ff34;
    }

    &[data-level="1"] {
      color: #ffa034;
    }

    &[data-level="2"] {
      color: #ff5d34;
    }
  }
}

@media (max-width: 400px) {
  .rivenBox {
    padding: 1rem;
    row-gap: 1rem;
  }

  .rivenTable {
    thead {
      margin-bottom: 0.5rem;
    }

    tbody {
      tr:first-child {
        margin-bottom: 0.5rem;
      }
    }

    tr {
      padding: 0.75rem;
      gap: 0.75rem;
    }

    th,
    td {
      font-size: 0.875rem;
    }
  }

  .rivenTitle {
    font-size: 0.75rem;
  }

  .rivenClear {
    font-size: 0.75rem;
  }

  .searchInput {
    padding: 0.75rem;
  }

  .searchSuggestion {
    padding: 0.75rem;
  }

  .searchButton {
    padding: 0.75rem;

    & > svg {
      max-height: 0.875rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0px 1rem 0rem;
  }
}

// Spinner

.ldsRing {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  translate: -50% -50% 0rem;
  z-index: 9;
}

.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
