.searchForm {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  position: relative;
}

.searchBox {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  width: 100%;
  position: relative;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #222;
  color: #fff;
  outline: none;
  font-size: 1rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  border: 2px solid #333;
  transition: border 0.2s ease;

  &:focus {
    border: 2px solid #666;
  }
}

.searchSuggestions {
  width: 100%;
  position: absolute;
  background-color: #444;
  list-style: none;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  overflow-y: scroll;
  max-height: 10rem;

  &::-webkit-scrollbar {
    background-color: #555;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #777;
  }

  li {
    font-family: inherit;
    font-size: inherit;
    padding: 0.75rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: "BETA";
      display: block;
      font-family: inherit;
      font-size: 0.875rem;
      font-weight: 800;
      color: #777;
    }
  }
}

.searchButton {
  padding: 0.75rem 0.5rem;
  background-color: #a749ff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  cursor: pointer;
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    scale: 0.95;
  }
}

.searchError {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  &[data-level="0"] {
    color: #f1ff34;
  }

  &[data-level="1"] {
    color: #ffa034;
  }

  &[data-level="2"] {
    color: #ff5d34;
  }
}

.rivenTable {
  th,
  td {
    padding: 0.75rem;
    background-color: #333;
    border-radius: 1px;
    text-align: center;
  }
  .rivenTableHead {
    background-color: #9223ec;
    color: #ffffff;
  }
}

.rivenPicker {
  padding: 0.25rem 0rem;
  margin-inline: 0.125rem;
  border-radius: 0.125rem;
  width: 12rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  > button {
    pointer-events: none;
    padding: 0.75rem 0rem;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
  }

  ul {
    padding-inline: 1rem;
    width: 100%;
    list-style-type: none;
    background: #292929;
    position: absolute;
    top: 0;
    z-index: 99;
    li {
      button {
        padding: 0.75rem 0rem;
        background: none;
        border: none;
        font-size: inherit;
        font-family: inherit;
        cursor: pointer;
      }
    }
  }

  &::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #555;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    display: block;
    margin-left: 0.5rem;
  }
}

.rivenClear {
  width: 100%;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: end;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #666;
  font-weight: 600;

  &:hover {
    opacity: 0.8;
  }
}

.title {
  color: #666;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

@media (max-width: 400px) {
  .rivenTable {
    th,
    td {
      padding: 0.5rem;
    }
    .rivenTableHead {
      background-color: #9223ec;
      color: #ffffff;
    }
  }
}
